<!-- 创建人：李建霆
     创建时间：2023-1-31 
     修改时间；2-4 第一次 2-8第二次
     本页面是 管理端的周次请假次数排行榜 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>云顶请假系统管理端</title>
    <link href="admin_3.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body style="overflow-x: hidden">
    <!-- 页面头部 -->
    <header id="top">
      <img
        src="../../../../public/admin_3/白色透明 (1).png"
        class="LogoClass1"
      />
      <a class="nav" href="">主页</a>
      <a class="nav first" href="">本周汇总</a>
      <div class="choice"></div>
      <a class="nav second" href="../admin_4/admin_4.html">数据可视化</a>
      <a class="nav third" href="">设置</a>
    </header>
    <!-- 页面图片 -->
    <img
      class="image"
      src="../../../../public/admin_3/QQ图片20230207121649.jpg"
    />
    <!-- 排行榜 -->
    <div class="chartBack">
      <img class="box f" src="../../../../public/admin_3/5A8633A41786C14A4CEE642D2C58AABB_750_750.jpg">
      <img    class="box"  src="../../../../public/admin_3/FFFFFFFF.jpg" alt="">
      <div class="charts">
        <div class="userList">
          <ol id="userList">
            &nbsp&nbsp本周请假次数排行榜:
          </ol>
        </div>
      </div>
    </div>
    <!-- 页尾 -->
    <div class="footer">
     <div class="text">山西 太原理工大学 云顶书院</div>
      <div class="hit"></div>
      <div class="text sss">搜索云里云外开源社区，一起畅游技术之海</div>
    </div>
    <script src="admin_3.js"></script>
  </body>
</html>
