<!-- 创建人：李建霆
     创建时间：2023-2-1
     本页面是管理端的数据可视化
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>云顶请假系统管理端</title>
    <link href="login_4.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body style="overflow-x: hidden">
    <!-- 页面头部 -->
    <header id="top">
      <div class="LogoClass1">LOGO</div>
      <a class="nav" href="">主页</a>
      <a class="nav first" href="../login_3/login_3.html">本周汇总</a>
      <div class="choice"></div>
      <a class="nav second" href=""> 数据可视化</a>
      <a class="nav third" href="">设置</a>
    </header>
    <!-- 页中 -->
    <div class="image"></div>
    <div class="chartBack">
      <div class="titlebox">
        <div class="title">本周请假及调研学汇总图:</div>
      </div>
      <div class="histogram"></div>
      <div class="histogram line"></div>
    </div>
    <div class="bottom">底部</div>
    <script src="login_4.js"></script>
  </body>
</html>
