#top {
  width: 100%;
  height: 75px;
  background-color: #d9d9d900;
  position: absolute;
  z-index: 100;
}
.LogoClass1 {
  width: 75px;
  height: 75px;
  position: absolute;
  background-color: rgba(0, 255, 255, 0);
  top: 0px;
  left: 25%;
  text-align: center;
  line-height: 2.5;
  transition-duration: 0.5s;
}
.LogoClass1:hover {
  transform: translateY(-5px);
  transform: scale(1.2);
}
body {
  margin: 0px;
}
.nav {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 32px;
  height: 10px;
  font-size: 16px;
  color: black;
  text-decoration: none;
}
.nav.first {
  width: 6%;
  left: 60%;
}
.nav.second {
  width: 6%;
  left: 70%;
}
.nav.third {
  left: 80%;
}
.choice {
  position: relative;
  top: 50px;
  left: 70%;
  width: 4.5%;
  height: 5px;
  background-color: #5f95d4;
}
.image {
  position: relative;
  top: 0px;
  background-color: #b3b3b3;
  width: 100%;
  height: 500px;
}
.chartBack {
  position: relative;
  top: 0px;
  width: 100%;
  /* height: 700px; */
  background-color: #d9d9d900;
}
.titlebox {
  position: relative;
  height: 50px;
  width: 30%;
  top: 0px;
  left: 15%;
  font-size: 26px;
  background-color: rgba(0, 0, 0, 0);
}
.title {
  position: relative;
}
.histogram {
  position: relative;
  top: 0px;
  left: 20%;
  background-color: aquamarine;
  width: 25%;
  height: 400px;
  margin-right: 0px;
  display: inline-block;
}
.histogram.line {
  left: 30%;
}
.bottom {
  position: relative;
  top: 100%;
  width: 100%;
  height: 45px;
  background-color: white;
  text-align: center;
  font-size: 28px;
  /* z-index: 100; */
}
