<!-- //创建者：李建霆     
    //创建时间；2023-1-29  
    //该页面是云顶请假界面的主页面
    //第一次修改；李建霆  2023-2-1  完善并并调整内容
    //第二次修改：李建霆  2023-2-2  完善js内容
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>云顶请假系统</title>
    <link href="main.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body style="overflow-x: hidden">
    <!-- <header id="top">
     
      <img src="" alt="" />
    </header> -->
    <main>
      <!-- 临时图片 -->
      <img
        src="../../../public/main/白色透明 (1).png"
        alt=""
        class="LogoClass1"
      />
      <img src="../../../public/main/Rectangle 64.png" alt="" class="main" />
      <div class="text">欢迎来到云顶请假系统</div>
      <!-- 主要的登录界面 -->
      <div class="Enter">
        <img
          src="../../../public/main/399cef91_E811112_03972d39.jpg"
          alt=""
          class="img_2"
        />
      </div>
      <div id="pass" class="Enter">
        <div class="welcome">云顶请假系统</div>
        <input type="text" id="acn" class="Acn" placeholder="账号：" />
        <input type="password" id="PASS" placeholder="密码：" />
        <div id="user">登录</div>
        <a id="user" class="admin register" href="">注册</a>
        <a class="admin" id="user">管理员通道</a>
      </div>
    </main>
    <script src="demo.js"></script>
    <script src="main.js"></script>
  </body>
</html>
