<!-- //创建者：李建霆 
    //创建时间；1.29
    //该页面是云顶请假界面的主页面
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>云顶请假系统</title>
    <link href="main.css" rel="stylesheet" type="text/css" />
  </head>
  <body style="overflow-x: hidden">
    <header id="top">
      <div class="LogoClass1">LOGO</div>
      <img src="" alt="" />
    </header>
    <main>
        <!-- 临时图片 -->
      <img src="../../../public/main/鹿.png" alt="" />
      <div class="text">欢迎来到云顶请假系统</div>
      <!-- 主要的登录界面 -->
      <div class="Enter">
        <div class="welcome">云顶请假系统</div>
        <input type="text" class="Acn" placeholder="账号：" />
        <input type="password" class="Acn password" placeholder="密码：" />
        <div id="user">登录</div>
        <div id="user" class="register">注册</div>
        <div class="admin" id="user">管理员通道</div>
      </div>
    </main>

    <script src="main.js"></script>
  </body>
</html>
